body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000;
    color: #00FF00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz {
    background: #000;
    border: 2px solid #00FF00;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.question {
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00FF00;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #009900;
}

#result {
    margin-top: 20px;
}

#wm-link {
    text-decoration: none;
    color: #00FF00;
    margin-top: 10px;
}

#alternatives {
    margin-top: 20px;
    border-top: 1px solid #00FF00;
    padding-top: 10px;
}

#alternatives-list {
    list-style-type: none;
    padding: 0;
}

#alternatives-list li {
    margin: 5px 0;
}

#github-link {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

@keyframes spinAndZoom {
    0% { transform: scale(1); filter: hue-rotate(0deg); }
    25% { transform: scale(1.2); filter: hue-rotate(90deg); }
    50% { transform: scale(1.5); filter: hue-rotate(180deg); }
    75% { transform: scale(1.2); filter: hue-rotate(270deg); }
    100% { transform: scale(1); filter: hue-rotate(360deg); }
}

#github-logo {
    width: 40px;
    height: auto;
    animation: spinAndZoom 3s infinite linear;
    fill: url(#gradient);
}

#wm-img {
    margin-bottom: 5px;
}

#pros-cons {
    list-style-type: none;
    padding: 0;
}

#wm-cons {
    color: red;
}
